#layout {
  height: 100vh;
  background: #333;

  #toolbar {
    height: 2.5em;
  }

  #chars {
    height: calc(100vh - 5em);
    background: #777;
  }

  #rolls {
    height: calc(100vh - 5em);
    background: #999;
  }
}

@import "roll-result.less";