.rollresult {
  &-button {
    &-success {
      background: green;
    }
    &-failure {
      background: red;
    }
    color: white;
    border-radius: 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  }
}